.personaje{
    position: relative;
    margin-top: 70px;
    height: 500px;
    width: 375px;
    background-image: url(../images/Animaciones/MenuInicio/Saludar.png);
    animation-name: saludar;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}

@keyframes saludar {
    from{background-position-x: 0px;}
    to{background-position-x: -1508px;}
}